body{
    background: rgb(214, 214, 214);
}

.my-accordeon-container {
    .title{
        font-size: 1.3rem;
        border: 1px solid black;
        padding: 10px;
        cursor: pointer;
    }
    .body{
        display: none;
        padding: 20px;
        font-size: 1rem;
        background: rgba(20,20,20, .1)
    }
    .active{
        .body{
            display: block;
        }
    }
}
