#usersBook {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    & #usersList{
        flex: 1 1;
        & ul{
            list-style-type: none;
            margin-right: 20px;
        }
        & li{
            &.addNewUser{
                background: rgba(red, .35);
            }
            font-size: 1.2rem;
            padding: 10px;
            cursor: pointer;
            &:hover{
                opacity: .75;
                background: rgba(blue, .25);
            }
            &.active{
                background: rgba(blue, .25);
            }
        }
    }
    & #userInfo{
        flex: 3 1;
        h2{
            text-align: center;
        }
        & table{
            margin: 0 auto;
            & tr{
                font-size: 1.2rem;
                .titleInfo{
                    font-weight: bold;
                    padding-right: 20px;
                }
            }
        }
    }
}